<section id="header">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Logo -->
				<h1><a href="/" id="logo">@Config.ProjectName</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
					<a asp-area="" asp-controller="Information" asp-action="Index" asp-route-id="">Довідникова інформація</a>
					<a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    @*<a href="twocolumn2.html">Two Column #2</a>
                    <a href="onecolumn.html">One Column</a>*@
					<a class="button-large" href="/admin">
						LogIn
                    </a>
				</nav>

			</div>
		</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="row">
				<div class="col-6 col-12-medium">

					<!-- Banner Copy -->
					<p>Дізнайтесь більше про транспортні задачі у довіднику!</p>
					<a asp-area="" asp-controller="Information" asp-action="Index" asp-route-id="" class="button-large">Go on, click me!</a>

				</div>
				<div class="col-6 col-12-medium imp-medium">

					<!-- Banner Image -->
                    <a asp-area="" asp-controller="Information" asp-action="Index" asp-route-id="" class="bordered-feature-image">
                        <img src="~/images/banner.jpg" alt="" width="225" height="220"/>
                    </a>

				</div>
			</div>
		</div>
	</div>
</section>